<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FirstSuperscript" value="(D)"/>
    <add key="FirstHeader" value="IP"/>
    <add key="FirstPrefix" value="(J)"/>
    <add key="SecondSuperscript" value="(P)"/>
    <add key="SecondHeader" value="68282306AA"/>
    <add key="SecondPrefix" value="(I)"/>
    <add key="FailCopies" value="1"/>
    <add key="PassCopies" value="1"/>
    <add key="PrinterName" value="Xerox WorkCentre 7225 Engineering PS"/>

    <add key="BarCodeType1D" value="Code39"/>
    <add key="BarCodeType2D" value="DataMatrix"/>

  </appSettings>
</configuration>